.mifi-header{
    padding-bottom: 5vh;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
}
.mifi-header-content{
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.mifi-header-logo{
    width: calc(260px + (400 - 260) * (100vw - 360px) / 1560);
    margin: 0 auto;
}
.mifi-header-bottom{
    width: 100%;
    margin-top: auto;
    display: flex;
    padding: calc(16px + (24 - 16) * (100vw - 360px) / 1560);
}
.mifi-event{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: calc(16px + (24 - 16) * (100vw - 360px) / 1560);
    display: flex;
    align-items: center;
}
.mifi-event img{
   width: 160px;
}
.mifi-event-title{
    margin-left: 10px;
    display: flex;
}
.mifi-event-title .event{
    color: #e21a84;
}
.mifi-event-title .event-name{
    color: #fff;
}
.mifi-event-sub{
    margin-left: 16px;
    color: #fff;
}