.mifi-header{
    padding-bottom: 5vh;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
}
.mifi-header-content{
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.mifi-header-logo{
    width: calc(500px - 12vw);
}
.mifi-header-bottom{
    width: 100%;
    margin-top: auto;
    display: flex;
    padding: calc(24px - 5vw);
}