.mifi-layout-margin{
    margin: 0 20px;
    background-color: #0f0f0f;
}
@media screen and (max-width: 1536px) {
    .mifi-layout-margin{
        margin: 0 215px;
    }
}

@media screen and (max-width: 1280px) {
    .mifi-layout-margin{
        margin: 0 150px;
    }
}

@media screen and (max-width: 1024px) {
    .mifi-layout-margin{
        margin: 0 100px;
    }
}
    
@media screen and (max-width: 768px) {
    .mifi-layout-margin{
        margin: 0 60px;
    }
}
@media screen and (max-width: 640px) {
    .mifi-layout-margin{
        margin: 0 40px;
    }
}

    
