.mifi-token{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}
.mifi-token-content img{
    width: 100%;
}


@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1280px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px) {}